[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "statpsych"]
	path = statpsych
	url = https://github.com/dgbonett/statpsych
[submodule "vcmeta"]
	path = vcmeta
	url = https://github.com/dgbonett/vcmeta
